<template>
  <div class="row">
    <div class="col-3">
      <label>
        Quantité
        <input type="number" v-model="quantity" class="form-control mb-2 mr-sm-2" min="1" />
      </label>
    </div>
    <button
      @click.stop="addCart({product, quantity})"
      type="button"
      class="btn btn-primary btn-sm"
    >AJOUTER AU PANIER</button>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "AddToCart",
  props: ["product"],
  data() {
    return {
      quantity: 1,
    };
  },
  computed: {
    ...mapState("cart", ["products"]),
  },
  methods: {
    ...mapActions("cart", ["addCart", "removeCart"]),
  },
};
</script>

<style>
</style>