<template>
    <button @click.stop="removeCart(product.id)"
            type="button"
            class="btn btn-primary mt-3 ml-3"
        >
        <i class="fa fa-trash" style="color:red"></i>
    </button>
</template>

<script>
    import { mapActions } from "vuex";

    export default {
        name: "RemoveFromCart",
        props: ["product"],
        methods: {
            ...mapActions("cart", ["removeCart"]),
        },
    };
</script>

<style>
</style>