<template>
  <div class="container" style="padding: 30px">
    <div class="row d-flex justify-content-center">
      <div class="list-group col-8">
        <a
          v-for="item in products"
          :key="item.id"
          href="#"
          class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        >
          <img :src="item.product.asset" height="60" width="60" />
          <p>{{ item.product.name }}</p>
          <div class="row">
            <div class="mr-2">
              <p>Prix unitaire</p>
              <p>{{ item.product.price }} €</p>
            </div>
            <div class="mr-4">
              <p>Quantité</p>
              <p>{{ item.quantity }}</p>
            </div>
            <div class="mr-2">
              <p>Prix total</p>
              <p>{{ item.product.price * item.quantity }} €</p>
            </div>
            <div>
              <RemoveFromCart :product="item.product" />
            </div>
          </div>
        </a>
        <div
          class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        >
          <p class="h4">Total</p>
          <div>
            <p>Prix total de la commande</p>
            <p>{{ totalPrice }} €</p>
          </div>
        </div>
        <input type="text" v-model="email" placeholder="e-mail">
        <input type="password" v-model="password" placeholder="password">

        <button
          @click="checkout()"
          :disabled="products.length === 0 || buying || email === '' || password === ''"
          type="button"
          class="btn btn-primary btn-lg btn-block mt-4"
        >Acheter ({{ totalPrice }} €)</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import RemoveFromCart from "@/components/RemoveFromCart";

const axios = require('axios');

export default {
  name: "Cart",
  components: { RemoveFromCart },
  data() {
    return {
      img: [],
      buying: false,
      email: "",
      password: ""
    };
  },
  computed: {
    ...mapGetters("cart", ["products"]),

    totalPrice: function () {
      return this.calcPrice();
    }
  },
  methods: {
    ...mapActions("cart", ["removeCart", "emptyCart"]),
    calcPrice() {
      let total = 0;
      this.products.forEach((element) => {
        total += element.product.price * element.quantity;
      });
      return total;
    },
    requireAssets()  {
      this.products.forEach((element) => {
        element.product.asset = require("../../assets/products/" + element.product.image);
      })
    },
    checkout() {
      const data = "<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"\n" +
              "                  xmlns:gs=\"http://localhost:8080/payment\">\n" +
              "    <soapenv:Header/>\n" +
              "    <soapenv:Body>\n" +
              "        <gs:payRequest>\n" +
              "            <gs:email>" + this.email + "</gs:email>\n" +
              "            <gs:password>" + this.password + "</gs:password>\n" +
              "            <gs:amount>" + this.totalPrice + "</gs:amount>\n" +
              "        </gs:payRequest>\n" +
              "    </soapenv:Body>\n" +
              "</soapenv:Envelope>";

      const vm = this;
      axios({
        method: 'post',
        url: "http://localhost:8080/gateway/ws",
        data: data
      })
      .then(function (response) {
        console.log(response);
        setTimeout(() => {
          vm.emptyCart();
          alert("Purchase successful!");
          vm.$router.push("/");
        }, 2000);
      })
      .catch(function (error) {
        alert("Error while purchasing!");
        console.error(error);
      });


    },
  },
  created() {
    this.requireAssets();
  },
};
</script>

<style>
</style>