<template>
  <div style="padding: 25px;">
    <div class="container">
      <div class="row">
        <div class="col-md-4" v-for="product in products" :key="product.id">
          <ProductCard :product="product" />
          <AddToCart :product="product" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import ProductCard from "./ProductCard";
import AddToCart from "@/components/AddToCart"
import productsData from "../../../products.json";

export default {
  name: "Products",
  data: function () {
    return {
      products: productsData
    }
  },
  components: { ProductCard, AddToCart },
  methods: {
    ...mapActions("cart", ["addCart"]),
  },
};
</script>

<style>
</style>