<template>
  <div class="card mb-4 shadow-sm">
    <img :src="img" class="card-img-top product-image mt-3" />
    <div class="card-body">
      <h5 class="card-title text-left">{{ product.name }}</h5>
      <p>{{ product.price }} €</p>
    </div>
  </div>
</template>

<script>
export default {
    name: "ProductCard",
    data: function () {
      return {
        img: require('../../assets/products/' + this.product.image),
      }
    },
    props: ["product"]
};
</script>

<style>
.card {
  height: 300px;
}

.product-image {
  height: 200px;
  width: 200px;
}
</style>